# v0.1.2 | 2026-09-13T19:22:10Z | Atualizado com auxílio de ChatGPT.
/bin/classes/
*.class
*.jar
/config/local.properties
/config/*.local.*
/config/call.sql
/bin/outputs/*.private.*
/bin/outputs/*-private.tar.gz
/x21-private.tar.gz
/x22-private.tar.gz
# bin/outputs/*.log é intencionalmente versionável.
