# v0.1.1 | 2026-09-11T19:30:37Z | Criado com auxílio de ChatGPT.
/bin/classes/
*.class
*.jar
/config/local.properties
/config/*.local.*
/config/call.sql
/bin/outputs/*.private.*
# bin/outputs/*.log é intencionalmente versionável.
